<style>
  .tag{
    float: left;
    width: 15%;
    background-color: #5182BB;
    min-height: 400px;
    border-radius: 25px;
    border-style:solid;
    border-width:2px;
    border-color:#3A5E88;
    margin-left: 5%;
  }
  .label{
    margin-top: 30px;
    margin-left: 15%;
    font-size: 20px;
  }
  .tag_title{
    font-size: 18px;
    margin-left: 15%;
    margin-top: 20px;
  }
  a:hover {color: #FCE9DA}
  .tag_title_a {
    color: #BACDE4;
  }
  .tag_title_span{
    color: #BACDE4;
  }
  .upload{
    width: 50%;
    height: 50px;
    margin-top: 50px;
    margin-left: 15%;
    color: white;
    border-radius: 5px;
    border-style:solid;
    border-width:2px;
    border-color:#3A5E88;
    text-align:center;
    font-size: 20px;
  }
  .photo{
    float: left;
    width: 70%;
    background-color: white;
    min-height: 800px;
    border-radius: 55px;
    border-style:solid;
    border-width:2px;
    border-color:#4671A2;
    margin-left: 3%;
  }
  .photo_div{
    margin-left: 16px;
    margin-top: 15px;
    font-size: 20px;
  }
  .show_photo_all{
    margin-top: 10px;
  }
  .show_photo{
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    width: 25%;
    background-color: #FDEADB;
    min-height: 200px;
  }
  .pic{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #FFFDFA;
    height: 100px;
    border-style:solid;
    border-width:2px;
    border-color:#8066A0;
  }
  .img{
    width: 100%;
    height: 100%;
  }
  .title{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    background-color: #FFFDFA;
    height: 83px;
    border-color:white;
    /*text-align:center;*/
  }
  .r_title{
    height: 27px;
    margin-left: 15px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
  }
  .release_fenye{
    height: 50px;
    width: 100%;
    margin-left: 155px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

</style>
<div style="width: 100%;">
  <div class="tag">

  </div>
  <div class="photo">

  </div>
</div>
<div id = "uploadpage"></div>
<script>
  $(function () {
      $("#choos_tag").val('');
      get_tags();
      page_photo(1);
  })
  function get_tags() {
    $.get('<%= tags_photos_path %>',
        {
        },
        function (data, status) {
          if (status == 'success') {
            //alert("success");
            $(".tag").html(data);
          } else {
            ;
          }
        });
  }
  function set_and_find(obj) {
     $("#choos_tag").val(obj.id);
     page_photo(1);
  }
  function page_photo(page){
    $.get('<%= page_photos_path %>',
        {
          tag_id:$("#choos_tag").val(),
          page:page
        },
        function (data, status) {
          if (status == 'success') {
            //alert("success");
            $(".photo").html(data);
          } else {
            ;
          }
        });
  }
  $("#uploadpage").click(function () {
//    alert('1');
    $("#choos_tag").val('');
    page_photo(1);
  })
  function change_tag(obj) {
    var inid = 'in' + obj.id;
    var placeholder = $("#"+obj.id).html();
    var htmlString = '<input type="text" onblur="update_tag(this)" id="'+ inid +'" value="" placeholder="'+ placeholder +'"> '
    if (placeholder.indexOf('input') < 1) {
      $("#"+obj.id).html(htmlString);
      $("#in"+obj.id).focus();
    }
  }
  function update_tag(obj) {
    $.post('<%= update_photo_tag_photos_path %>',
        {
          photo_id:obj.id.trim().replace("inol",""),
          tag_title:$("#"+obj.id).val().trim()
        },
        function (data, status) {
          if (status == 'success') {
            //alert("success");
            get_tags();
            page_photo(1);
          } else {
            ;
          }
        });
  }
  function upload(obj) {
    var file = obj.files[0];

    var filename =file.name.split(".")[0];
    if (file) {
      var url = null ;
      if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
      } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
      } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
      }
      $("#fileName").val(filename);
      $('#frameFile').one('load',function(){
        page_photo(1);
        });
      $("#picbutt").click();
      //page_photo(1);
      return url ;
    }
  }
  function setpic(obj){
    $("#fileUp").click();
  }
  function dragStar(obj) {
    obj.dataTransfer.effectAllowed="copy";
    obj.dataTransfer.setData("id", obj.target.id);
  }
  function dragente(obj) {
    obj.dataTransfer.dropEffect="copy";
    obj.preventDefault();
  }
  function  dragove(obj) {
    obj.preventDefault();
  }
  function onDro(obj) {
    var tag_id = obj.target.id;
    var id = obj.dataTransfer.getData("id");
    event.preventDefault();
    $.post('<%= drag_photo_tag_photos_path %>',
        {
          tag_id:tag_id,
          photo_id:id
        },
        function (data, status) {
          if (status == 'success') {
            //alert("success");
            page_photo(1);
          } else {
            ;
          }
        });
  }
</script>




